.section-about{
    height: 962px;
    background-color: #F9FAFB;
    display: flex;
    justify-content: space-between;
    padding: 96px 80px 96px 80px;
}
#section-about{
    height: 770px;
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.about-btn{
    background-color: aqua;
    width: 105px;
    height: 28px;
    border: none;
    align-self: center;
    padding: 4px 20px 4px 20px;
    border-radius: 12px;
    background-color: #E5E7EB;
}

.about-btn a{
    width: 105px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #111827;
}

.about{
    height: 694px;
    gap: 48px;
    display: flex;
    justify-content: space-between;
}

.about-img{
    height: 694px;
    margin: 5px;
}

.about-img img{
    width: 400px;
    height: 480px;
    margin-left: 40px;
    box-shadow: -40px 40px #F9FAFB;
}

.about-text-all{
    width: 584px;
    height: 694px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-title{
    height: 36px;
}

.about-title h3{
    letter-spacing: -2px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #111827;
}

.about-text{
    width: 584px;
    height: 634px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-text span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4B5563;
}



.about-text-6{
    display: flex;
    justify-content: space-between;
}

.text-about-6-ul-1{
    display: flex;
    gap: 90px;
}

.text-about-6-ul-2{
    display: flex;
}



