.contact-info{
    height: 560px;
    padding: 96px 80px 96px 80px;
    text-align: center;
}


#contact-info{
    height: 368px;
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.contact-text{
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-btn{
    width: 122px;
    height: 28px;
    border-radius: 12px;
    padding: 4px 20px 4px 20px;
    align-self: center;
    border: none;
}

.contact-btn a{
    width: 35px;
    height: 20px;
    text-decoration: none;
    color: #4B5563;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.contact-desc{
    width: 1216px;
    height: 56px;
    max-width: 600px;
    align-self: center;
}

.contact-desc p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #4B5563;
}

.contact{
    width: 596px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
}

.contact h4{
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    
}

.contact h4 i{
    font-size: 32px;
    color: #4B5563;
}

.social{
  
    width: 1216px;
    height: 68px;
}

.social-t{
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4B5563;
}

.social #icons{
    width: 116px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    
}

.social #icons i{
    font-size: 24px;
    color: #4B5563;
}