@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/section-1.css");
@import url("../css/section-2.css");
@import url("../css/section-3.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}