@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/section-about.css");
@import url("../css/section-skills.css");
@import url("../css/section-expe.css");
@import url("../css/section-work.css");
@import url("../css/sections-testimonials.css");
@import url("../css/section-contact.css");
@import url("../css/footer.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}